#ticket-page {
    display: grid;
    grid-template-columns: [ticket-start] auto [ticket-mid] 14rem [ticket-end];
    grid-template-rows: [ticket-start] auto [ticket-end];
    height: 100%;
}

#ticket-main{
    grid-column: ticket-start/ticket-mid;
    grid-row: ticket-start/ticket-end;
}

#information {
    grid-column: ticket-mid/ticket-end;
    grid-row: ticket-start/ticket-end;
    background-color: var(--light-gray);
}

#changes {
    grid-column: ticket-mid/ticket-end;
    grid-row: ticket-start/ticket-end;
    background-color: var(--light-gray);
    margin-left: 1rem;
    font-size: 1.1rem;
}

#changes h5{
    font-weight: normal;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

#changes p{
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.properties {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    font-size: 1.1rem;
}

.properties label {
    margin-top: 0.5rem;
    display: block;
}

#property-tag h4{
    font-weight: normal;
    margin-top: 0.2rem;
    margin-bottom: 0rem;
}

.all-tags{
    margin-bottom:0rem;
    border-radius: 50%;
    width: 4.5rem;
    margin-bottom: 0.2rem;
}

.date {
    display: flex;
    flex-direction: row;
}

.date h3 {
    margin-left: 1rem;
}

.date p {
    margin-left: 0.5rem;
    margin-top: 1.3rem;
}

#date-opened h3{
    margin-bottom: 0rem;
}

#date-closed h3 {
    margin-top: 0rem;
}

#date-closed p {
    margin-top: 0.1rem;
}

.properties summary, #changes summary {
    font-weight: bold;
    margin-bottom: 1rem;
    list-style-type: none;
}

.properties label, #property-tag h4 {
    margin-bottom: 0.2rem;
}

.properties select, .properties input {
    margin-bottom: 0.5rem;
    width: 10rem;
    padding: 0.2rem;
    display: block;
    margin-right: 0.5rem;
}

.properties input {
    width: 9.4rem;
}

.properties button {
    margin-top: 0.3rem;
    padding: 0.2rem;
}

#apply{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 5rem;
}

.edit-ticket button, .delete-ticket button {
    padding: 0.2rem;
    width: 3rem;
    margin-right: 1rem;
    height: 2rem;
}

.edit-ticket h2 input, .delete-ticket h2 input {
    width: 35rem;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
}

#ticket-info p{
    margin-left: 2.2rem;
}

#ticket-header {
    display: flex;
    flex-direction: row;
}

#ticket-header img {
    width: 40px;
    height: 30px;
    margin-left: 2rem;
    margin-top: 2.2rem;
}

#ticket-header  h2 {
    margin-top: 2.3rem;
}

#author img {
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
    border-radius: 50%;
}

#author-edit, #author-delete {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.edit-ticket #description, .delete-ticket #description {
    border:none;
    width: 64rem;
    height: 3rem;  
    margin-bottom: 0.5rem;
    margin-left: 2.2rem;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

#ticket-info a, #messageBoard a{
    margin-left: 2.3rem;
    font-size: 1rem;
}

#author {
    display: flex;
    flex-direction: row;
}

#author h3 {
    margin-left: 1rem;
    margin-top: 1rem;
}

#ticket p {
    margin-left: 2rem;
}

#messageBoard {
    margin-inline-start: 1.8rem;
}

#all-messages{
    overflow-y: scroll;
    height: 15rem;
    margin-right: 6.5rem;
}

#messageBoard summary {
    color: var(--dark-blue);
    list-style-type: none;
    margin-left: 0.6rem;
    margin-top:1.5rem;
    font-weight: bold;
}

.other {
    background-color: var(--light-gray);
    width: 25rem;
    position: relative;
    padding-bottom: 0.5rem;
    padding-right: 0.3rem;
    margin-bottom: 1.5rem;
}

.other:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    bottom: -1rem;
    left: 1.5rem;
    right: auto;
	border: 0.5rem solid;
	border-color: var(--light-gray) transparent transparent var(--light-gray);
}

.self {
    left: 33rem;
    background-color: var(--light-gray);
    width: 25rem;
    position: relative;
    padding-bottom: 0.5rem;
    padding-right: 0.3rem;
    margin-bottom: 1.5rem;
}

.self:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    bottom: -1rem;
    left: auto;
	right: 1.5rem;
	border: 0.5rem solid;
	border-color: var(--light-gray) var(--light-gray) transparent transparent;
}

.message-content{
    white-space: pre-wrap;
    max-width: 24rem;
    margin:0rem;
}

.message-photo{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 0.5rem;
    margin-top: 0.7rem;
}

.message-date{
    font-size: 0.7rem;
    margin-top: 1.2rem;
}

.other header, .self header{
    display: flex;
    flex-direction: row;
    height: 3rem;
}

#messageBoard hr{
    margin-bottom: 1rem;
    margin-right: 1.8rem;
    margin-left: 0rem;
    width: 90%;
    border-top: 4px solid var(--light-gray);
    border-radius: 5px;
}

#messageBoard h4{
    padding: 0.5rem;
}

#messageBoard p{
    margin-inline-start: 0.5rem;
}

.messageBoard-form{
    position:fixed;
    bottom: 0;
    margin-bottom: 0.5rem;
}

.messageBoard-form textarea{
    margin-top: 0.5rem;
    min-height: 1rem;
    min-width: 40rem;
}

.messageBoard-form button{
    display: block;
    padding: 0.1rem;
    width: 3rem;
}

#faq-reply{ 
    display: block;
    margin-top: 1rem;
}

.delete-message {
    margin-left: 0.5rem;
    margin-top: 1rem;
}

#show-button{
    margin-top: 0.3rem;
    padding: 0.2rem;
    margin-left: 1.5rem;
}

@media only screen and (max-width: 1120px){

    #ticket-page {
        display: grid;
        grid-template-columns: [ticket-start] auto [ticket-end];
        grid-template-rows: [ticket-start] 3rem [ticket-mid1] auto [ticket-end];
        height: 100%;
        width: 100%;
    }

    #tools{
        display: flex;
        margin-left:auto;
        grid-column: ticket-start/ticket-end;
        grid-row: ticket-start/ticket-mid1;
        align-self: center;
        margin-right: 1rem;
        width: 40px;
        margin-top: 0.5rem;
        position: relative;
        right: 0;
        z-index: 2; 
    }
    
    #ticket-main{
        grid-column: ticket-start/ticket-end;
        grid-row: ticket-mid1/ticket-end;
    }

    #information {
        position: absolute;
        right: 0;
        width: 14rem;
        display: none;
        height: 100%;
    }

    #information.appear {
        display: block;
        right:0;
    }

    .moving{
        padding-right: 14rem;
    }    

    #ticket-header img {
        margin-top: 0.7rem;
        margin-left: 1rem;
    }

    #ticket-header h2{
        font-size: 1.3rem;
        margin-top: 0.9rem;
    }

    #author img, #ticket-info a, #ticket-info p, #messageBoard{
        margin-left: 1rem;
    }

    #messageBoard summary{
        margin-left:0rem;
    }

    #ticket-info p{
        margin-right: 1rem;
    }

    #messageBoard hr{
        border-top: 6px solid var(--light-gray);
    }
    
    .messageBoard-form textarea{
        margin-top: 0.5rem;
        min-height: 1rem;
        min-width: 18rem;
    }

    #faq-reply{
        width: 18.3rem;
    }

    .message-content{
        max-width: 15rem;
    }

    .self {
        left: 2rem;
        width: 16rem;
    }

    .other {
        width: 16rem;
    }

    #all-messages{
        min-height: 14rem;
        height: 20rem;
        margin-right:0;
    }

    .edit-ticket #description, .delete-ticket #description {
        width: 18rem;
        margin-left:1rem;
    }

    #ticket-info a{
        display: block;
    }

    #author-edit, #author-delete {
        display: flex;
        flex-direction: column;
    }

    #author-edit-button, #author-delete-button {
        height: 1.5rem;
        margin-left: 5rem;
    }

    .messageBoard-form{
        position:relative;
        margin-bottom: 0.5rem;
    }

    .edit-ticket h2 input, .delete-ticket h2 input {
        width: 16rem;
    }

    .delete-ticket, .edit-ticket a{
        display: flex;
        justify-content: space-between;
    }

    #delete-ticket-form{
        display:flex;
        flex-direction: column;
    }

    #menssageBoard{
        width: 19rem;
    }
}

@media only screen and (max-width: 850px) and (min-width: 750px){

    #all-messages{
        min-height: 14rem;
        height: 40rem;
    }

    .message-content{
        max-width: 24rem;
    }

    .self {
        left: 10em;
        width: 25rem;
    }

    .other {
        width: 25rem;
    }

    .messageBoard-form textarea{
        margin-top: 0.5rem;
        min-height: 1rem;
        min-width: 35rem;
    }

    #faq-reply{
        width: 35.3rem;
    }

    #information {
        position: absolute;
        right: 0;
        width: 14rem;
        height: 100%;
    }

    #information.appear {
        display: block;
        right:0;
    }

    .moving{
        padding-right: 14rem;
    }

    #tools{
        position: relative;
        right: 0;
        z-index: 2;
    }
}